
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* overflow: hidden; Prevent scrolling */
font-family: 'Times New Roman', Times, serif;
}
.app-container {
  font-family: 'Times New Roman', Times, serif;
  background-color: #e9e9e9;
  height: 100%; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 20px;
}
#app {
  display: unset;
  padding: unset;
  margin: unset;

}

header {

  background-color: #333131;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
  font-weight: bold;
  height: 88rpx;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 24px;
    margin-right: 10px;
  }
}

.general-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
}
.left-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.panel {
    background-color: white;
    /* padding: 20px; */
    border-radius: 12px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 25px;
  }
  
  .panel h2,
  .panel h3 {
    font-weight: bold;
    color: black;
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 20px;

  }
  
  
  .top-left textarea {
    width: 80%;
    height: 331px;
    background-color: #EDEDED;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: monospace;
    resize: none;
    border-radius: 12px;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Times New Roman', Times, serif;
  }
  
  .buttons {
    margin-top: 10px;
    display: flex;
    padding-bottom: 14px;
    width: 90%;
    justify-content: space-between;
  }
  
  
  button {
    /* width: 120px;
    height: 120px; */
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    padding: 4px 10px;
  }
  
  .reset-button {
    background-color: #E9E9E9;
    color: black;
    border: 1px solid #ccc;
  }
  
  .action-button {
    background-color: black;
    color: white;
  }
  
  
  .graph {
    width: 100%;
    height: 360px;
    background-color: #E8E8E8;
    margin-bottom: 15px;
    border-radius: 12px;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);

  }
  


  .bottom-left .action-button {
    margin-bottom: 14px;
    margin-left: 80%;
  }
  .top-right .action-button {
    margin-bottom: 14px;
    margin-left: 80%;
  }
  iframe {
    border: unset; 
    padding: unset;
    scrollbar-width: none;
    html {
        scrollbar-width: none;
    }
    body {
        background-color: unset;
    }
    h1 {
        margin-top: unset;
    }
    .card{
        border: unset;
        #mynetwork {
            border: unset; 
            padding: unset;
        }
        .card-body {
            padding: unset;
            
        }
        
    }
    
  }
  iframe html {
    scrollbar-width: none;
  }
  .rank-section {
    width: 80%;
  }
  
  .rank-section ul {
    list-style: none;
    padding: 0;
    background-color: #EDEDED;
    padding: 10px;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    height: 140.5px;
    overflow-y: auto;

  }
  
  .rank-section li {
    padding: 5px 0;
    color: black;
  }
 
  .alpha-input {
    margin-top: 4px;
    width: 80%;
    height: 30px;
    padding-left: 10px;
    font-family: monospace;
    resize: none;
  
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: left;
    input {
      margin-left: 15px;
      background-color: #EDEDED;
      border: 1px solid #ccc;
    }
  }